<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý sản phẩm</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>
<body>
    <div>
        <h1>QUẢN LÝ SẢN PHẨM</h1>
        <form action="{{ url_for('product_list') }}">
            <div>
                <input type="text" name="keyword" placeholder="Nhập từ khóa cần tìm..." />
            </div>
            <div>
                <input type="number" name="from_price" placeholder="Gía bắt đầu" />
                <input type="number" name="to_price" placeholder="Gía kết thúc" />
            </div>
            <input type="submit" value="Tìm" />
        </form>

        <table border="1" width="100%">
            {% for product in products %}
            <tr>
                <td>
                    <img width="120" src="{{ product.image }}" alt="{{ product.name }}" />
                </td>
                <td>
                    <h1>{{ product.name }}</h1>
                </td>
                <td>
                    {{ product.description }}
                </td>
                <td>
                    {{ "{:,.1f}".format(product.price) }} VNĐ
                </td>
                <td>
                    <a href="#">Cập nhật</a> |
                    <a href="#">Xóa</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>